body {
  --main-red-color: #EB2127;
}

@font-face {
  font-family: "Montserrat Black";
  src: url(../fonts/montserrat/Montserrat-Black.ttf);
}

@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto Medium";
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/roboto/Roboto-Light.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Regular";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  -webkit-box-shadow: rgba(16, 30, 54, 0.35) 0px 25px 75px;
          box-shadow: rgba(16, 30, 54, 0.35) 0px 25px 75px;
}

::-webkit-scrollbar-thumb {
  background: #931418;
}

.active-link::after {
  width: 100% !important;
}

.active-image {
  display: block !important;
}

nav.header-section__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 0;
  right: 0;
  padding-top: 30px;
  padding-right: 30px;
  min-height: 107px;
}

nav.header-section__navigation .navigation__logo img {
  width: 70%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav.header-section__navigation .navigation__hamburger-menu {
  display: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(20% + 15px);
  right: 30px;
}

nav.header-section__navigation .navigation__hamburger-menu div {
  height: 7.5px;
  width: 80%;
  background: #e40e19;
}

nav.header-section__navigation .navigation__hamburger-menu div:nth-child(1) {
  margin-bottom: 5px;
}

nav.header-section__navigation .navigation__hamburger-menu div:nth-child(3) {
  margin-top: 5px;
}

nav.header-section__navigation .navigaiton__mobile-menu {
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  background: var(--main-red-color);
  z-index: 100;
}

@-webkit-keyframes openNavigation {
  to {
    left: 0;
  }
}

@keyframes openNavigation {
  to {
    left: 0;
  }
}

@-webkit-keyframes closeNavigation {
  to {
    left: 100vw;
  }
}

@keyframes closeNavigation {
  to {
    left: 100vw;
  }
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content {
  height: 100%;
  width: 100%;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__cross-button {
  margin: 30px 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__cross-button:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__cross-button div {
  width: 2px;
  height: 100%;
  position: absolute;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__cross-button div:nth-child(1) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__cross-button div:nth-child(2) {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__language span {
  color: #fff;
  font-size: 20pt;
  cursor: pointer;
  font-family: "Roboto Light";
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__language span.active-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  top: 100%;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__language span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #fff;
  top: 100%;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__language span:hover::after {
  width: 100%;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__subscribe-button {
  text-transform: uppercase;
  color: #fff;
  font-size: 18pt;
  margin: 100px 0;
  cursor: pointer;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__subscribe-button span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__subscribe-button span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #fff;
  top: 100%;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__subscribe-button span:hover::after {
  width: 100%;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__contact-us span {
  color: #fff;
  font-size: 20pt;
  line-height: 1.2;
  font-family: "Roboto Light";
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__contact-us span:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav.header-section__navigation .navigaiton__mobile-menu .mobile-menu__content .mobile-menu__text .mobile-menu__social-icons img {
  width: 50px;
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 100%;
}

nav.header-section__navigation .navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav.header-section__navigation .navigation__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav.header-section__navigation .navigation__links .navigation__page-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin: 0 10px;
}

nav.header-section__navigation .navigation__links .navigation__page-links li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin: 0 5px;
}

nav.header-section__navigation .navigation__links .navigation__page-links li span:hover {
  cursor: pointer;
}

nav.header-section__navigation .navigation__links .navigation__page-links li span:hover::after {
  width: 100%;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

nav.header-section__navigation .navigation__links .navigation__page-links li span::after {
  content: "";
  position: absolute;
  height: 1px;
  background: black;
  width: 0;
  top: 100%;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

nav.header-section__navigation .navigation__links .navigation__page-links div {
  margin-top: 40px;
  width: 200px;
  min-width: 200px;
  position: absolute;
  top: 30%;
  right: 45px;
  cursor: pointer;
  background-color: var(--main-red-color);
  color: white;
  font-family: "Roboto Bold";
  font-size: 10pt;
  text-transform: uppercase;
  margin-bottom: 50px;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav.header-section__navigation .navigation__links .navigation__page-links div a {
  padding: 10px 5px;
}

nav.header-section__navigation .navigation__links .navigation__page-links div:hover {
  background: #c71217;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

nav.header-section__navigation .navigation__links .navigation__social-links {
  margin-left: 20px;
}

nav.header-section__navigation .navigation__links .navigation__social-links li {
  margin: 0 10px;
}

nav.header-section__navigation .navigation__links .navigation__social-links li img {
  width: 35px;
}

nav.header-section__navigation .navigation__links .navigation__social-links li:hover {
  cursor: pointer;
}

section#header-panel {
  background: url(../img/background.png) center center;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 8vw;
}

section#header-panel .header-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section#header-panel .header-section__content .header-section__text {
  padding-top: 40px;
  width: 30%;
  min-width: 15vw;
  min-height: 620px;
  height: 620px;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

section#header-panel .header-section__content .header-section__text h1 {
  font-family: "Montserrat Black";
  font-size: 46px;
  color: var(--main-red-color);
  text-align: left;
  text-transform: uppercase;
  min-width: 400px;
}

section#header-panel .header-section__content .header-section__text h2 {
  font-family: "Montserrat Black";
  font-size: 20px;
  color: var(--main-red-color);
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}

section#header-panel .header-section__content .header-section__text p {
  font-family: "Roboto Light";
  font-size: 14pt;
  margin-top: 40px;
  line-height: 1.5rem;
  letter-spacing: -0.5px;
}

section#header-panel .header-section__content .header-section__text p:nth-child(4) {
  margin-top: 20px;
  margin-bottom: 20px;
}

section#header-panel .header-section__content .header-section__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-right: 40px;
}

section#header-panel .header-section__content .header-section__image img {
  width: 52.5vw;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  right: 2%;
}

section#podcast-panel {
  padding: 6vw 8vw;
  background: var(--main-red-color);
}

section#podcast-panel .podcast {
  background: white;
  padding: 30px;
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 1fr;
      grid-template-columns: 0.5fr 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

section#podcast-panel .podcast:nth-child(1) {
  margin-top: 0;
}

section#podcast-panel .podcast .podcast__image {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 200px;
}

section#podcast-panel .podcast .podcast__image img {
  width: 100%;
}

section#podcast-panel .podcast .podcast__text {
  margin-left: 6%;
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#podcast-panel .podcast .podcast__text h1,
section#podcast-panel .podcast .podcast__text h2 {
  font-family: "Roboto Medium";
}

section#podcast-panel .podcast .podcast__text h1 {
  font-size: 16pt;
  margin-bottom: 5px;
  color: var(--main-red-color);
  text-transform: uppercase;
  font-family: "Montserrat Black";
  margin-bottom: 10px;
}

section#podcast-panel .podcast .podcast__text h2 {
  font-size: 16pt;
  margin-bottom: 5px;
}

section#podcast-panel .podcast .podcast__text h3 {
  font-family: "Roboto Medium";
  font-size: 20pt;
  margin-bottom: 20px;
}

section#podcast-panel .podcast .podcast__text p {
  font-family: "Roboto Light";
  font-size: 14pt;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 16pt;
}

section#podcast-panel .podcast .podcast__button {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  --playing-flag: 0;
}

section#podcast-panel .podcast .podcast__button > div {
  -webkit-transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  background: var(--main-red-color);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

section#podcast-panel .podcast .podcast__button > div:hover {
  background: #c71217;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

section#podcast-panel .podcast .podcast__button > div .audio-play-button {
  width: 0;
  height: 0;
  border-radius: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-left: 25px solid white;
  background: transparent;
}

section#podcast-panel .podcast .podcast__button > div .audio-animation {
  display: none;
  height: 40px;
}

section#podcast-panel .podcast .podcast__button > div .audio-animation div {
  width: 5px;
  background: white;
  margin: 0 2.5px;
}

section#podcast-panel .podcast .podcast__button > div .audio-animation div:nth-child(1) {
  -webkit-animation: heighChange1 ease 0.4s alternate infinite;
          animation: heighChange1 ease 0.4s alternate infinite;
  height: 10%;
}

section#podcast-panel .podcast .podcast__button > div .audio-animation div:nth-child(2) {
  -webkit-animation: heighChange2 ease 0.4s alternate infinite 0.2s;
          animation: heighChange2 ease 0.4s alternate infinite 0.2s;
  height: 20%;
}

section#podcast-panel .podcast .podcast__button > div .audio-animation div:nth-child(3) {
  -webkit-animation: heighChange3 ease 0.4s alternate infinite 0.1s;
          animation: heighChange3 ease 0.4s alternate infinite 0.1s;
  height: 15%;
}

@-webkit-keyframes heighChange1 {
  from {
    height: 10%;
  }
  to {
    height: 90%;
  }
}

@keyframes heighChange1 {
  from {
    height: 10%;
  }
  to {
    height: 90%;
  }
}

@-webkit-keyframes heighChange2 {
  from {
    height: 20%;
  }
  to {
    height: 100%;
  }
}

@keyframes heighChange2 {
  from {
    height: 20%;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes heighChange3 {
  from {
    height: 15%;
  }
  to {
    height: 75%;
  }
}

@keyframes heighChange3 {
  from {
    height: 15%;
  }
  to {
    height: 75%;
  }
}

section#podcast-panel .podcast .podcast__button > div .audio-pause-button {
  height: 40px;
  display: none;
}

section#podcast-panel .podcast .podcast__button > div .audio-pause-button div {
  width: 7.5px;
  height: 90%;
  margin: 0 5px;
  background: #fff;
}

section#portfolio-panel {
  padding: 5% 0;
  padding-left: 8vw;
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section#portfolio-panel .portfolio-panel__heading {
  width: 50%;
}

section#portfolio-panel .portfolio-panel__heading span {
  color: var(--main-red-color);
  font-family: "Roboto Light";
  font-size: 40pt;
  padding-right: 40px;
  display: block;
}

section#portfolio-panel .portfolio-panel__heading p {
  width: 62.5%;
  font-family: "Roboto Medium";
  font-size: 22pt;
  margin: 50px 0;
}

section#portfolio-panel .portfolio-panel__text {
  margin-top: 10px;
  width: 50%;
}

section#portfolio-panel .portfolio-panel__text p {
  font-family: "Roboto Light";
  font-size: 16pt;
  width: 80%;
  margin-bottom: 40px;
  line-height: 1.25em;
}

section#ad-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: white;
}

section#ad-panel .ad-panel__text {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 10%;
  padding-left: 8vw;
  padding-bottom: 15%;
}

section#ad-panel .ad-panel__text p {
  color: var(--main-red-color);
  font-family: "Roboto Light";
  font-size: 40pt;
  width: 70%;
  padding-right: 40px;
  display: block;
}

section#ad-panel .ad-panel__image {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: url(../img/brand-image.png);
}

section#ad-panel .ad-panel__image img {
  display: none;
}

section#brands-panel {
  padding: 40px 0;
  padding-left: 8vw;
  background: #f4f4f4;
}

section#brands-panel .brands-panel__heading span {
  font-family: "Roboto Light";
  font-size: 32pt;
  color: var(--main-red-color);
}

section#brands-panel .brands-panel__brand-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

section#brands-panel .brands-panel__brand-box img {
  width: 8%;
  min-width: 100px;
  margin-right: 30px;
}

section#footer-panel {
  padding-left: 8vw;
  height: 25vh;
  background: var(--main-red-color);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#footer-panel span {
  font-family: "Roboto Light";
  font-size: 24pt;
}

section#footer-panel span:nth-child(1) {
  margin-bottom: 10px;
}

section#footer-panel span:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  section#header-panel .header-section__navigation .navigation__logo img {
    width: 50% !important;
  }
  section#header-panel .header-section__content .header-section__text {
    min-width: 15vw;
  }
  section#header-panel .header-section__content .header-section__text h1 {
    font-size: 46px;
  }
  section#header-panel .header-section__content .header-section__text p {
    font-size: 14pt;
  }
  section#header-panel .header-section__content .header-section__text p:nth-child(4) {
    margin-top: 10px;
  }
  section#header-panel .header-section__content .header-section__text div {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
  }
  section#header-panel .header-section__content .header-section__image img {
    width: 100% !important;
    display: none;
    position: unset;
  }
  section#footer-panel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1150px) {
  section#header-panel nav.header-section__navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15px;
  }
  section#header-panel nav.header-section__navigation .navigation__links {
    display: none;
  }
  section#header-panel nav.header-section__navigation .navigation__hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#header-panel .header-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#header-panel .header-section__content .header-section__text {
    width: 90%;
    min-width: 15vw;
    min-height: 0;
    height: auto;
  }
  section#header-panel .header-section__content .header-section__text h1 {
    min-width: 0;
  }
  section#header-panel .header-section__content .header-section__image {
    width: calc(100% - 30px);
    height: 50vh;
    background-position: bottom center;
    margin-right: 30px;
  }
  section#header-panel .header-section__content .header-section__image img {
    width: 100% !important;
    display: none;
    position: unset;
  }
  section#podcast-panel .podcast {
    -ms-grid-columns: 0.75fr 1.25fr;
        grid-template-columns: 0.75fr 1.25fr;
    -ms-grid-rows: 1fr 0.25fr;
        grid-template-rows: 1fr 0.25fr;
  }
  section#podcast-panel .podcast .podcast__image {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
    width: 100%;
  }
  section#podcast-panel .podcast .podcast__text {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
  section#podcast-panel .podcast .podcast__text p {
    -webkit-line-clamp: 14;
  }
  section#podcast-panel .podcast .podcast__button {
    -ms-grid-column-align: start !important;
        justify-self: start !important;
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  section#podcast-panel .podcast .podcast__button > div {
    height: 66px;
    width: 66px;
  }
  section#portfolio-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 0;
  }
  section#portfolio-panel .portfolio-panel__heading {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#portfolio-panel .portfolio-panel__heading span {
    font-size: 20pt;
    padding-right: 0;
  }
  section#portfolio-panel .portfolio-panel__heading p {
    font-size: 18pt;
    margin: 10px 0;
    width: 80%;
  }
  section#portfolio-panel .portfolio-panel__text {
    margin-top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#portfolio-panel .portfolio-panel__text p {
    font-size: 13pt;
    letter-spacing: -0.5px;
  }
  section#portfolio-panel .portfolio-panel__text p:nth-child(1) {
    margin-bottom: 10px;
  }
  section#portfolio-panel .portfolio-panel__text p:nth-child(2) {
    margin-bottom: 0;
  }
  section#ad-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-direction: column-reverse;
  }
  section#ad-panel .ad-panel__text {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#ad-panel .ad-panel__text p {
    width: 80%;
    margin: 20px 0;
    font-size: 20pt;
    padding-right: 0;
  }
  section#ad-panel .ad-panel__image {
    width: 100%;
    background: none;
  }
  section#ad-panel .ad-panel__image img {
    width: 100%;
    display: block;
  }
}

/* ----------- iPad Pro ----------- */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  section#header-panel .header-section__content .header-section__text {
    min-height: 720px;
  }
  section#podcast-panel .podcast .podcast__button div {
    height: 66px;
    width: 66px;
  }
}

@media only screen and (max-width: 600px) {
  section#header-panel {
    padding-left: 0;
  }
  section#header-panel nav.header-section__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    padding-top: 10px;
  }
  section#header-panel nav.header-section__navigation .navigation__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section#header-panel nav.header-section__navigation .navigation__logo img {
    width: 50% !important;
  }
  section#header-panel nav.header-section__navigation .navigation__hamburger-menu {
    width: 30px;
    height: 30px;
    top: 30px;
  }
  section#header-panel nav.header-section__navigation .navigation__hamburger-menu div {
    height: 5px;
    width: 100%;
  }
  section#header-panel nav.header-section__navigation .navigation__hamburger-menu div:nth-child(1) {
    margin-bottom: 7.5px;
  }
  section#header-panel nav.header-section__navigation .navigation__hamburger-menu div:nth-child(3) {
    margin-top: 7.5px;
  }
  section#header-panel .header-section__content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#header-panel .header-section__content .header-section__text {
    padding-top: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  section#header-panel .header-section__content .header-section__text h1 {
    font-size: 25pt;
    text-align: center;
  }
  section#header-panel .header-section__content .header-section__text h2 {
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
  }
  section#header-panel .header-section__content .header-section__text p {
    line-height: 1.25rem;
    font-size: 13pt;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  section#header-panel .header-section__content .header-section__text p:nth-child(4) {
    margin-bottom: 0;
  }
  section#header-panel .header-section__content .header-section__text div {
    display: none;
  }
  section#header-panel .header-section__content .header-section__image {
    margin: 0;
    width: 100%;
    height: 32vh;
  }
  section#podcast-panel .podcast {
    -ms-grid-rows: 0.5fr 1fr 0.15fr;
        grid-template-rows: 0.5fr 1fr 0.15fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section#podcast-panel .podcast .podcast__image {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    grid-column: 1/1;
    width: 100%;
  }
  section#podcast-panel .podcast .podcast__text {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 2;
    grid-row: 2/2;
    margin-top: 20px;
    margin-left: 0;
    font-size: 12pt;
    line-height: 14pt;
  }
  section#podcast-panel .podcast .podcast__text h2 {
    line-height: 1;
    margin-bottom: 8px;
  }
  section#podcast-panel .podcast .podcast__button {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-column-align: end !important;
        justify-self: end !important;
    -ms-grid-row: 3;
    grid-row: 3/3;
  }
  section#podcast-panel .podcast .podcast__button div {
    width: 66px;
    height: 66px;
  }
  section#brands-panel {
    padding-left: 0;
    text-align: center;
    padding: 30px 0;
  }
  section#brands-panel .brands-panel__heading span {
    font-size: 18pt;
  }
  section#brands-panel .brands-panel__brand-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }
  section#brands-panel .brands-panel__brand-box img {
    margin-right: 0;
    margin: 0 10px;
    min-width: 70px;
  }
  section#footer-panel span {
    font-size: 18pt;
  }
}

.page-preloader {
  width: 100vw;
  height: 100vh;
  background: var(--main-red-color);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=style.css.map */